body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    max-width: 400px;
    margin: 50px 0 50px 0;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333333;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("dropdown-arrow.png") no-repeat right center;
    background-size: 18px;
}

input[type="submit"] {
    background-color: #ff5061;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e04353;
}

.result {
    font-weight: bold;
}
